.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 50px;
  padding-top: 80px;
}

.about .inner {
  flex: 1;
  max-width: 600px;
}

.about .description {
  margin-top: 20px;
}

.about .order-1 {
  order: 1;
}

.about .order-lg-2 {
  order: 2;
}

.about .thumbnail {
  width: 100%;
  text-align: center;
}

.about .thumbnail img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
