body {
  background: #141414;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

:root {
  --color-primary: #ff014f;
  --color-body: #ebedf1;
  --transition: 0.4s;
}
/* WebKit (Chrome, Safari) için scrollbar */
::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  height: 150px;
}

/* Firefox için scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* IE ve Edge için scrollbar */
*::-ms-scrollbar {
  width: 10px;
}

*::-ms-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Opera için scrollbar */
::-o-scrollbar {
  width: 10px;
}

::-o-scrollbar-track {
  background-color: #f1f1f1;
}

::-o-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.movie-description {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  padding: 10px;
  display: none;
}

.movie-description p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: white;
  line-height: 30px;
  width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.image-container:hover .movie-description {
  display: block;
}

.movie-genres {
  bottom: 0;
  padding-top: 10px;
  margin: 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  align-self: flex-end;
  scrollbar-width: none;
}
.movie-genres::-webkit-scrollbar {
  display: none;
}

.genre {
  margin-right: 10px;
  background-color: #333;
  border-radius: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.image-container {
  position: relative;
  width: 200px;
  border-radius: 20px;
  margin: 20px;
  height: 300px;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  border-radius: 20px;
  transition: background-image 0.3s ease, filter 0.3s ease;
}

.image-container:hover::before {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  backdrop-filter: blur(5px);
}
.movie-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 0 60px 10px;
}
.movie-details p {
  margin: 0;
  padding: 0 0;
  font-size: 14px;
  color: white;
  line-height: 30px;
  width: 90%;
}

.movie-details h5 {
  margin: 0;
  padding: 0 10px 10px 0;
  font-size: 14px;
  color: white;
  width: 90%;
  line-height: 20px;
}
.loading {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.search-bar {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.search-bar-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  width: 150px;
}
.search-bar-container input {
  width: 150px;
  height: 35px;
  border-radius: 50px;
  border: none;
  border: 2px solid #909192;
  padding: 13px 24px;
  font-size: 16px;
  outline: none;
  background: #5e6062;
  color: white;
}
.search-bar-container input:focus {
  border: 1px solid #ff014f;
}
.search-bar-container input::placeholder {
  color: #ccc;
}

.content {
  flex: 1 0 auto;
  background: #141414;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.footer {
  flex-shrink: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  height: 160px;
  background-color: transparent;
  padding-top: 10px;
}
.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: red;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
}

.footer-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer-area .description {
  font-size: 17px;
  color: white;
  font-family: var(--font-primary);
}

.footer-container a:hover {
  color: red;
}

.footer-area .description a {
  color: white;
  transition: var(--transition);
  position: relative;
}

.footer-area .description a::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--color-primary);
  left: 0;
  bottom: 3px;
  transition: var(--transition);
}

.footer-area .description a:hover {
  color: var(--color-primary);
}

.footer-area .description a:hover::before {
  width: 100%;
}

.footer-area .logo a img {
  max-height: 100px;
}

.rn-section-gap {
  padding-top: 20px;
}
