body {
  background: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-container {
  width: 15%;
  margin: 1em;
  overflow: hidden;
}

.movie-image {
  width: 100%;
}
.loading {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-bar {
  height: 150px;
}
